.sales-points
  h1
    padding-top: 18vh

  .sales-point
    margin-bottom: 2.5em
    padding: 3vh 0 
    
    //.col-full 
      //padding-top: 10vh
    
    &:last-child
      margin-bottom: 0
    
  .first
    margin-bottom: 1.5em
    margin-top: 2em
    +mQ($md)
      margin-top: 0
      

      

  