.promo
  padding: 10vh 0
  .bg-primary
    text-align: left
    padding-top: 7.5em
    //padding-left: 7%
    padding-bottom: 7.5em
    +mQ($md)
      h1
        padding-left: 0.6em 
      h2,p
        padding-left: 1em
      .btn 
        margin-left: 1em
        margin-top: 1.3em

  .img-box
    background: url(../images/phone-in-hand.jpg)
    background: 
      size: cover
      position: center
      
 

.title-box
  background: $accent-color
  color: $text-inverse
  margin: 0 auto
  padding: 1em
  max-width: 90%
  transform: translateY(20%)
  @media(min-width: 495px)
    transform: translateY(50%)
  @media(min-width: 750px)  
    max-width: 700px
  







